# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
duan/
.venv/
env/
ENV/
.virtualenv/

# =========================
# PyInstaller
# =========================
*.manifest
*.spec

# =========================
# Unit test / coverage
# =========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover

# =========================
# Logs & runtime files
# =========================
*.log
*.pid
*.seed

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo
*.swn

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.env.*
# Ignore raw BioGRID data
/data/raw/biogrid/

build/